In [401]:
import requests as r 
import pandas as pd 
import json 
import seaborn as sns

url ='https://financialmodelingprep.com/api/v3/financials/income-statement/PM'
url_PMprice= 'https://financialmodelingprep.com/api/v3/stock/real-time-price/PM'
url_pepsi='https://financialmodelingprep.com/api/v3/financials/income-statement/PEP'
url_pepsiprice= 'https://financialmodelingprep.com/api/v3/stock/real-time-price/PEP'

In [402]:
r.get(url).content
request = r.get(url)
Json= request.json()
Json
# Add apple informtion into a dataframe
PM=pd.DataFrame(Json['financials'])
PM_EPS= PM['EPS']

# requesting apple current price
request_PM= r.get(url_PMprice)
price_PM= request_PM.json()
PM_price=price_PM['price']

In [415]:
requests1=r.get(url_pepsi)
jsont= requests1.json()

# getting google information from api
r.get(url_pepsi).content
request12 = r.get(url_pepsi)
Json1= request12.json()
pepsi=pd.DataFrame(Json1['financials'])
pepsi


# Getting current price of googl
request_googl= r.get(url_pepsiprice)
pep_price= request_googl.json()
pepsi_price=pep_price['price']

In [416]:
PM['EPS'] = pd.to_numeric(PM['EPS'])
PM['Dividend per Share']=pd.to_numeric(PM['Dividend per Share'])

In [417]:
pepsi['EPS']= pd.to_numeric(pepsi['EPS'])
pepsi['Dividend per Share']=pd.to_numeric(pepsi['Dividend per Share'])

In [418]:
Pepsi = pd.DataFrame() 
Pepsi['P/E Ratio'] = pe_ratio(pepsi_price,pepsi['EPS'])
Pepsi['Dividend Payout Ratio'] = div_payout_ratio(pepsi['Dividend per Share'],pepsi['EPS'])
Pepsi['Dividend Yield Ratio']= div_yield_ratio(pepsi['Dividend per Share'],pepsi_price)

Pepsi

   P/E Ratio  Dividend Payout Ratio  Dividend Yield Ratio
0  15.252262               0.405769              0.026604
1  39.655882               0.931471              0.023489
2  30.712984               0.674260              0.021954
3  36.342318               0.744474              0.020485
4  31.283063               0.587703              0.018787
5  30.853547               0.512586              0.016614
6  34.047980               0.537121              0.015775
7  33.046569               0.496324              0.015019
8  33.962217               0.476071              0.014018
9  35.388451               0.465879              0.013165

In [419]:
Philip_Morris = pd.DataFrame() 
Philip_Morris['P/E Ratio'] = pe_ratio(PM_price,PM['EPS'])
Philip_Morris['Dividend Payout Ratio'] = div_payout_ratio(PM['Dividend per Share'],PM['EPS'])
Philip_Morris['Dividend Yield Ratio']= div_yield_ratio(pepsi['Dividend per Share'],pepsi_price)


Philip_Morris

   P/E Ratio  Dividend Payout Ratio  Dividend Yield Ratio
0  14.276575               0.883858              0.026604
1  18.692010               1.087629              0.023489
2  16.188616               0.919643              0.021954
3  16.408371               0.914027              0.020485
4  15.236345               0.815126              0.018787
5  13.788023               0.680608              0.016614
6  14.028046               0.626692              0.015775
7  14.953608               0.581443              0.015019
8  18.454198               0.620865              0.014018
9  22.315385               0.689231              0.013165