# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as st
import math

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')
df = pokemon

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
df["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
legends = df[df["Legendary"] == True]
print("Legends Total Stats STD: ",legends["Total"].std())
print("Legends Total Stats mean: ",legends["Total"].mean(), "\n")


non_legends = df[df["Legendary"] == False]
print("Non-Legends Total Stats STD: ",non_legends["Total"].std())
print("Non-Legends Total Stats mean: ",non_legends["Total"].mean())

Legends Total Stats STD:  60.93738905315344
Legends Total Stats mean:  637.3846153846154

Non-Legends Total Stats STD:  106.76041745713005
Non-Legends Total Stats mean:  417.21360544217686

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:
st.ttest_ind(legends["Total"], non_legends["Total"], equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:
#the means between both groups are significantly different enough to reject the null hypothesis 
#(H0: M1 = M2  REJECTED)

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:
df["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:
#This makes a df of all water types
water = df[df["Type 1"] == "Water"]
water2 = df[df["Type 2"] == "Water"]
water = water.append(water2)

#water mean and std's
water_m = water["Total"].mean()
water_std = water["Total"].std()

#This makes a df of all non-water types
non_water = df[df["Type 1"] != "Water"]
non_water = non_water[non_water["Type 2"]!= "Water"]

#non-water mean and std's
non_water_m = non_water["Total"].mean()
non_water_std = non_water["Total"].std()

print("Water Pokemon Total stats mean: ",water_m)
print("Non-Water Pokemon Total stats mean: ",non_water_m,"\n\n")
print("Water Pokemon Total stats standard deviation: ",water_std)
print("Non-Water Pokemon Total stats standard deviation: ",non_water_std)
water

Water Pokemon Total stats mean:  429.0952380952381
Non-Water Pokemon Total stats mean:  436.22551928783383


Water Pokemon Total stats standard deviation:  111.97867143855053
Non-Water Pokemon Total stats standard deviation:  121.44323863275002

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
60,55,Golduck,Water,NaN,500,80,82,78,95,80,85,1,False
65,60,Poliwag,Water,NaN,300,40,50,40,40,40,90,1,False
66,61,Poliwhirl,Water,NaN,385,65,65,65,50,50,90,1,False
67,62,Poliwrath,Water,Fighting,510,90,95,95,70,90,70,1,False
78,72,Tentacool,Water,Poison,335,40,40,35,50,100,70,1,False
79,73,Tentacruel,Water,Poison,515,80,70,65,80,120,100,1,False
85,79,Slowpoke,Water,Psychic,315,90,65,65,40,40,15,1,False
86,80,Slowbro,Water,Psychic,490,95,75,110,100,80,30,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,590,95,75,180,130,80,30,1,False
93,86,Seel,Water,NaN,325,65,45,55,45,70,45,1,False
94,87,Dewgong,Water,Ice,475,90,70,80,70,95,70,1,False
97,90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
98,91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
106,98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
107,99,Kingler,Water,NaN,475,55,130,115,50,50,75,1,False
125,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False
126,117,Seadra,Water,NaN,440,55,65,95,95,45,85,1,False
127,118,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False
128,119,Seaking,Water,NaN,450,80,92,65,65,80,68,1,False
129,120,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False
130,121,Starmie,Water,Psychic,520,60,75,85,100,85,115,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
140,130,Gyarados,Water,Flying,540,95,125,79,60,100,81,1,False
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False
142,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,537,Seismitoad,Water,Ground,509,105,95,75,85,75,74,5,False
610,550,Basculin,Water,NaN,460,70,92,65,80,55,98,5,False
625,564,Tirtouga,Water,Rock,355,54,78,103,53,45,22,5,False
626,565,Carracosta,Water,Rock,495,74,108,133,83,65,32,5,False
641,580,Ducklett,Water,Flying,305,62,44,50,44,50,55,5,False
642,581,Swanna,Water,Flying,473,75,87,63,87,63,98,5,False
653,592,Frillish,Water,Ghost,335,55,40,50,65,85,40,5,False
654,593,Jellicent,Water,Ghost,480,100,60,70,85,105,60,5,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
713,647,KeldeoOrdinary Forme,Water,Fighting,580,91,72,90,129,90,108,5,False
714,647,KeldeoResolute Forme,Water,Fighting,580,91,72,90,129,90,108,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
149,138,Omanyte,Rock,Water,355,35,40,100,90,55,35,1,False
150,139,Omastar,Rock,Water,495,70,60,125,115,70,55,1,False
151,140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
152,141,Kabutops,Rock,Water,495,60,115,105,65,70,80,1,False
307,283,Surskit,Bug,Water,269,40,30,32,50,52,65,3,False
398,363,Spheal,Ice,Water,290,70,40,50,55,50,25,3,False
399,364,Sealeo,Ice,Water,410,90,60,70,75,70,45,3,False
400,365,Walrein,Ice,Water,530,110,80,90,95,90,65,3,False
445,400,Bibarel,Normal,Water,410,79,85,60,55,60,71,4,False
533,479,RotomWash Rotom,Electric,Water,520,50,65,107,105,107,86,4,False
758,688,Binacle,Rock,Water,306,42,52,67,39,56,50,6,False
759,689,Barbaracle,Rock,Water,500,72,105,115,54,86,68,6,False
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:
st.ttest_ind(non_water["Total"], water["Total"], equal_var = False)

Ttest_indResult(statistic=0.6471395988249625, pvalue=0.5183465532236392)

Write your conclusion below.

In [11]:
# Your conclusions here:
#Pvalue is large, meaning we fail to reject the null hypothesis (H0 : M1 = M2 FAIL TO REJECT)

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [12]:
# Your code here:

st.ttest_rel(df["Attack"],df["Defense"])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [13]:
# Your conclusions here:
#rejecting the null hypothesis

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:
st.ttest_rel(df["Sp. Atk"],df["Sp. Def"])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:
#rejecting the null hypothesis

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:
st.ttest_1samp(df["Defense"]-df["Attack"],0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [17]:
[df["Type 1"]== "Water"]

[0      False
 1      False
 2      False
 3      False
 4      False
        ...
 795    False
 796    False
 797    False
 798    False
 799    False
 Name: Type 1, Length: 800, dtype: bool]

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [18]:
# Your code here:
pd.set_option('display.max_columns',500)
f =  pd.crosstab(df["Name"], [df["Legendary"], df["Type 1"]=="Water"])

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [19]:
# Your code here:
from scipy.stats import chi2_contingency

In [21]:
chi2_contingency(f)

(2400.0, 0.4788906497115103, 2397, array([[0.78375, 0.135  , 0.07625, 0.005  ],
        [0.78375, 0.135  , 0.07625, 0.005  ],
        [0.78375, 0.135  , 0.07625, 0.005  ],
        ...,
        [0.78375, 0.135  , 0.07625, 0.005  ],
        [0.78375, 0.135  , 0.07625, 0.005  ],
        [0.78375, 0.135  , 0.07625, 0.005  ]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [20]:
# Your answer here:

#Yes, we reject the null hypothesis