In [212]:
# import the essentials

import pandas as pd
import numpy as np

In [213]:
# let's take a look at how big of a train wreck we got.

sharks = pd.read_csv('GSAF5.csv')
sharks.shape

(5992, 24)

In [214]:
# almost 6000 records - lit.

sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [215]:
# look at those useless spaces after some columns names - they trying me. let's lose those and then how about we format 
# the others  to something more standard that still maintains the integrity of the original names. lowercase letters, 
# underscores for spaces, and removing other special characters seems like a chill start.

sharks.columns = sharks.columns.str.rstrip(' ').str.replace(' ', '_').str.lower().str.replace('\W', '', regex = True)
sharks.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_yn', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number1', 'case_number2', 'original_order', 'unnamed_22',
       'unnamed_23'],
      dtype='object')

In [216]:
# sweet, let's get a preview of the actual data in these columns.

sharks.iloc[:, :12].head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark

In [217]:
sharks.iloc[:, 12:].head()

,fatal_yn,time,species,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order,unnamed_22,unnamed_23
0,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [218]:
# so i like grouping columns into meaningful chunks so i'm just gonna do some reordering.

sharks = sharks[['case_number', 'case_number1', 'case_number2', 'original_order', 'date', 'year', 'time', 'country', 
                 'area', 'location', 'name', 'sex', 'age', 'activity', 'type', 'injury', 'fatal_yn', 'species',
                 'investigator_or_source', 'pdf', 'href', 'href_formula', 'unnamed_22', 'unnamed_23']]

sharks.iloc[:, :12].head()

,case_number,case_number1,case_number2,original_order,date,year,time,country,area,location,name,sex
0,2016.09.18.c,2016.09.18.c,2016.09.18.c,5993,18-Sep-16,2016,13h00,USA,Florida,"New Smyrna Beach, Volusia County",male,M
1,2016.09.18.b,2016.09.18.b,2016.09.18.b,5992,18-Sep-16,2016,11h00,USA,Florida,"New Smyrna Beach, Volusia County",Chucky Luciano,M
2,2016.09.18.a,2016.09.18.a,2016.09.18.a,5991,18-Sep-16,2016,10h43,USA,Florida,"New Smyrna Beach, Volusia County",male,M
3,2016.09.17,2016.09.17,2016.09.17,5990,17-Sep-16,2016,NaN,AUSTRALIA,Victoria,Thirteenth Beach,Rory Angiolella,M
4,2016.09.15,2016.09.16,2016.09.15,5989,16-Sep-16,2016,NaN,AUSTRALIA,Victoria,Bells Beach,male,M

In [219]:
sharks.iloc[:, 12:].head()

,age,activity,type,injury,fatal_yn,species,investigator_or_source,pdf,href,href_formula,unnamed_22,unnamed_23
0,16,Surfing,Unprovoked,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
1,36,Surfing,Unprovoked,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
2,43,Surfing,Unprovoked,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
3,NaN,Surfing,Unprovoked,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
4,NaN,Surfing,Unprovoked,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN

In [220]:
# there might be some repeating columns, which is chill. just gotta verify before dropping them.

comparisons = []
for i in range(len(sharks.columns)):
    for j in range(i + 1, len(sharks.columns)):
        comparisons_i = [sharks.columns[i], sharks.columns[j]]
        comparisons.append(comparisons_i)

match_ratios = []
for i in comparisons:
    match_ratios_i = [(sharks[i[0]] == sharks[i[1]]).sum() / len(sharks) * 100, i[0] + ' - ' + i[1]]
    match_ratios.append(match_ratios_i)
match_ratios.sort(reverse = True)
match_ratios[:10]

[[99.96662216288385, 'case_number - case_number2'],
 [99.81642189586115, 'case_number1 - case_number2'],
 [99.78304405874499, 'case_number - case_number1'],
 [99.09879839786382, 'href - href_formula'],
 [0.23364485981308408, 'activity - type'],
 [0.11682242990654204, 'area - location'],
 [0.05006675567423231, 'case_number2 - date'],
 [0.05006675567423231, 'case_number1 - date'],
 [0.05006675567423231, 'case_number - date'],
 [0.016688918558077435, 'time - injury']]

In [221]:
# let's get rid of the columns that are basically wastes of space for analysis.

sharks.drop(columns = ['case_number1', 'case_number2', 'href_formula'], inplace = True)
sharks.head()

,case_number,original_order,date,year,time,country,area,location,name,sex,...,activity,type,injury,fatal_yn,species,investigator_or_source,pdf,href,unnamed_22,unnamed_23
0,2016.09.18.c,5993,18-Sep-16,2016,13h00,USA,Florida,"New Smyrna Beach, Volusia County",male,M,...,Surfing,Unprovoked,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
1,2016.09.18.b,5992,18-Sep-16,2016,11h00,USA,Florida,"New Smyrna Beach, Volusia County",Chucky Luciano,M,...,Surfing,Unprovoked,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
2,2016.09.18.a,5991,18-Sep-16,2016,10h43,USA,Florida,"New Smyrna Beach, Volusia County",male,M,...,Surfing,Unprovoked,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
3,2016.09.17,5990,17-Sep-16,2016,NaN,AUSTRALIA,Victoria,Thirteenth Beach,Rory Angiolella,M,...,Surfing,Unprovoked,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
4,2016.09.15,5989,16-Sep-16,2016,NaN,AUSTRALIA,Victoria,Bells Beach,male,M,...,Surfing,Unprovoked,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN

In [222]:
# so about all those NaNs from the get-go.

sharks.isna().sum().sort_values(ascending = False)[:10] / len(sharks) * 100

unnamed_22    99.983311
unnamed_23    99.966622
time          53.621495
species       48.965287
age           44.742991
sex            9.462617
activity       8.795060
location       8.277704
area           6.708945
name           3.337784
dtype: float64

In [223]:
# look at those ratios, breh. time to drop all that negativity.

sharks.drop(columns = ['unnamed_22', 'unnamed_23'], inplace = True)
sharks.head()

,case_number,original_order,date,year,time,country,area,location,name,sex,age,activity,type,injury,fatal_yn,species,investigator_or_source,pdf,href
0,2016.09.18.c,5993,18-Sep-16,2016,13h00,USA,Florida,"New Smyrna Beach, Volusia County",male,M,16,Surfing,Unprovoked,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2016.09.18.b,5992,18-Sep-16,2016,11h00,USA,Florida,"New Smyrna Beach, Volusia County",Chucky Luciano,M,36,Surfing,Unprovoked,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2016.09.18.a,5991,18-Sep-16,2016,10h43,USA,Florida,"New Smyrna Beach, Volusia County",male,M,43,Surfing,Unprovoked,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2016.09.17,5990,17-Sep-16,2016,NaN,AUSTRALIA,Victoria,Thirteenth Beach,Rory Angiolella,M,NaN,Surfing,Unprovoked,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2016.09.15,5989,16-Sep-16,2016,NaN,AUSTRALIA,Victoria,Bells Beach,male,M,NaN,Surfing,Unprovoked,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...

In [224]:
# let's peep on them dtypes.

sharks.dtypes

case_number               object
original_order             int64
date                      object
year                       int64
time                      object
country                   object
area                      object
location                  object
name                      object
sex                       object
age                       object
activity                  object
type                      object
injury                    object
fatal_yn                  object
species                   object
investigator_or_source    object
pdf                       object
href                      object
dtype: object

In [225]:
# so i'm cool with everything except fatal_yn 'cause that can totally be a boolean

sharks['fatal_yn'].value_counts()

N          4315
Y          1552
UNKNOWN      94
 N            8
N             1
F             1
#VALUE!       1
n             1
Name: fatal_yn, dtype: int64

In [226]:
# jesus christ..

sharks.loc[sharks['fatal_yn'] == 'UNKNOWN', 'fatal_yn'] = None
sharks.loc[sharks['fatal_yn'] == '#VALUE!', 'fatal_yn'] = None
sharks.loc[sharks['fatal_yn'] == 'F', 'fatal_yn'] = False
sharks.loc[(sharks['fatal_yn'].notna()) & (sharks['fatal_yn'].str.contains('\s*[yY]\s*', regex = True)), 'fatal_yn'] = True
sharks.loc[(sharks['fatal_yn'].notna()) & (sharks['fatal_yn'].str.contains('\s*[nN]\s*', regex = True)), 'fatal_yn'] = False

sharks['fatal_yn'].value_counts()

False    4326
True     1552
Name: fatal_yn, dtype: int64

In [227]:
sharks['fatal_yn'] = sharks['fatal_yn'].astype('bool')
sharks = sharks.rename(columns = {'fatal_yn': 'fatal'})

sharks.dtypes

case_number               object
original_order             int64
date                      object
year                       int64
time                      object
country                   object
area                      object
location                  object
name                      object
sex                       object
age                       object
activity                  object
type                      object
injury                    object
fatal                       bool
species                   object
investigator_or_source    object
pdf                       object
href                      object
dtype: object

In [228]:
# sweet, so now that we know values can be anything, i'm gonna check the values across the
# columns to determine if any more cleaning is needed.

sharks['case_number'].value_counts()

2009.12.18        2
1962.06.11.b      2
2005.04.06        2
1966.12.26        2
2012.09.02.b      2
1915.07.06.a.R    2
2006.09.02        2
1913.08.27.R      2
1923.00.00.a      2
1907.10.16.R      2
1980.07.00        2
1920.00.00.b      2
2014.08.02        2
1990.05.10        2
2013.10.05        2
1983.06.15        2
1877.09.15        1
2008.01.10        1
2003.02.11        1
ND-0139           1
1972.10.22        1
2001.01.09        1
1868.00.00.b      1
1964.12.09        1
1938.00.00.c      1
1835.02.21.R      1
1948.00.00.c      1
2008.06.21        1
1961.08.16        1
2003.05.07        1
                 ..
1889.11.29.R      1
1947.11.00        1
1957.06.21        1
1960.08.22.R.     1
2014.04.12        1
2003.04.18        1
2009.02.07.a      1
1973.06.13        1
1967.11.15        1
1975.04.25        1
1855.03.28        1
1962.06.10.a      1
2000.03.00        1
1989.08.06.R      1
2008.10.22        1
2009.11.11        1
1961.07.00.a      1
2015.09.08        1
2002.09.16.a      1
1952.00.00.b      1
1909.01.17        1
1999.09.29        1
2015.05.29.a      1
1997.08.11.a      1
1999.03.08        1
1930.01.16        1
2015.12.11        1
1867.00.00        1
1878.02.13        1
1982.03.07        1
Name: case_number, Length: 5976, dtype: int64

In [229]:
# looks good.

sharks['original_order'].value_counts()

5661    2
569     2
3847    2
5739    2
2047    1
2716    1
4755    1
2708    1
661     1
4759    1
2712    1
665     1
4763    1
4767    1
669     1
2704    1
2720    1
673     1
4771    1
2724    1
677     1
4775    1
2728    1
657     1
4751    1
4779    1
4735    1
4723    1
2676    1
629     1
       ..
5456    1
1362    1
3411    1
5460    1
1366    1
3415    1
1342    1
3387    1
3359    1
1338    1
5408    1
1314    1
3363    1
5412    1
1318    1
3367    1
5416    1
1322    1
3371    1
5420    1
1326    1
3375    1
5424    1
1330    1
3379    1
5428    1
1334    1
3383    1
5432    1
2049    1
Name: original_order, Length: 5988, dtype: int64

In [239]:
# looks good.

sharks['date'].value_counts()

1957                    11
1942                     9
1956                     8
1941                     7
1958                     7
1950                     7
1949                     6
No date                  6
1970s                    5
Oct-60                   5
Aug-56                   5
05-Oct-03                5
1940                     5
1959                     5
No date, Before 1963     5
12-Apr-01                5
1954                     5
1955                     5
28-Jul-95                5
1938                     4
1945                     4
1960                     4
1961                     4
1952                     4
Before 1958              4
1876                     4
Reported 10-Oct-1906     4
Before 1906              4
23-Jan-70                4
09-Jul-94                4
                        ..
14-Apr-74                1
01-Sep-09                1
28-Dec-46                1
27-Jan-15                1
09-Aug-97                1
21-Mar-95                1
11-Oct-08                1
Reported 24-Apr-1866     1
17-Mar-77                1
04-Aug-12                1
15-Sep-68                1
01-Aug-1894              1
08-Sep-66                1
01-Nov-42                1
01-Feb-86                1
15-Jan-54                1
Nov-91                   1
21-Oct-04                1
01-Dec-72                1
07-May-59                1
24-Aug-1916              1
16-Feb-10                1
29-Sep-22                1
18-Apr-16                1
15-Mar-51                1
19-Oct-14                1
16-Aug-14                1
Apr-13                   1
Reported 28-Aug-1877     1
1911                     1
Name: date, Length: 5128, dtype: int64

In [284]:
# rough...

sharks['date'] = sharks['date'].str.strip().str.lstrip('Reported ').str.lstrip('No date, ').str.lstrip('Ca . ').str.lstrip('Circa ')
sharks.loc[sharks['date'].str.contains('^[0-9]{4}$', regex = True), 'year2'] = sharks['date']
sharks.loc[sharks['date'].str.contains('^[0-9]{2}-[A-z]{3}-[0-9]{2}$', regex = True), 'year2'] = '19' + sharks['date'].str[-2:]
sharks.loc[sharks['date'].str.contains('^[0-9]{2}-[A-z]{3}-[0-9]{4}$', regex = True), 'year2'] = sharks['date'].str[-4:]
sharks.loc[sharks['date'].str.contains('^[A-z]{3}-[0-9]{2}$', regex = True), 'year2'] = '19' + sharks['date'].str[-2:]
sharks.loc[sharks['date'].str.contains('^[A-z]{3}-[0-9]{4}$', regex = True), 'year2'] = sharks['date'].str[-4:]
sharks.loc[sharks['date'].str.contains('^[0-9]{4} \(same day as  [0-9]{4}.00.00.f\)$', regex = True), 'year2'] = sharks['date'].str[:4]
sharks.loc[sharks['date'].str.contains('^v-[0-9]{2}$', regex = True), 'year2'] = '19' + sharks['date'].str[-2:]
sharks.loc[sharks['date'].str.contains('(?:Summer|Fall|Winter|Spring) [0-9]{4}$', regex = True), 'year2'] = sharks['date'].str[-4:]
sharks.loc[sharks['date'].str.contains('(?:Summer|Fall|Winter|Spring) of [0-9]{4}$', regex = True), 'year2'] = sharks['date'].str[-4:]
sharks.loc[sharks['date'].str.contains('^[A-z]{3}-[A-z]{3}-[0-9]{4}$', regex = True), 'year2'] = sharks['date'].str[-4:]
sharks.loc[sharks['date'].str.contains('^[0-9]{2}-[A-z]{5}-[0-9]{4}$', regex = True), 'year2'] = sharks['date'].str[-4:]
sharks.loc[sharks['date'].str.contains('^[0-9]{4} or [0-9]{2}-[A-z]{3}-[0-9]{4}$', regex = True), 'year2'] = sharks['date'].str[-4:]
sharks.loc[sharks['date'].str.contains('^[0-9]{2}-[A-z]{3}-[0-9]{4} or [0-9]{2}-[A-z]{3}-[0-9]{4}$', regex = True), 'year2'] = sharks['date'].str[-4:]


#13 or 30-May-1967 

print(sharks.loc[sharks['year2'].isna(), 'date'].value_counts().sum())
print(sharks.loc[sharks['year2'].isna(), 'date'].value_counts()[: 60] / len(sharks) * 100)
print(sharks.loc[sharks['year2'].isna(), 'date'].value_counts()[60: 120] / len(sharks) * 100)
print(sharks.loc[sharks['year2'].isna(), 'date'].value_counts()[120: 150] / len(sharks) * 100)
print(sharks.loc[sharks['year2'].isna(), 'date'].value_counts()[150: 180] / len(sharks) * 100)
print(sharks.loc[sharks['year2'].isna(), 'date'].value_counts()[180: 240] / len(sharks) * 100)

250
                                                           0.100134
Before 1963                                                0.100134
1970s                                                      0.083445
Before 1906                                                0.066756
Before 1958                                                0.066756
1960s                                                      0.066756
Before 1962                                                0.050067
Before 2012                                                0.050067
1941-1945                                                  0.050067
Before 1921                                                0.050067
Before 1911                                                0.050067
1940 - 1950                                                0.050067
1700s                                                      0.050067
Before 1902                                                0.033378
Before  1958                                               0.033378
Before 1871                                                0.033378
1950s                                                      0.033378
Before 1957                                                0.033378
Before 1956                                                0.033378
Before 1934                                                0.033378
1980s                                                      0.033378
World War II                                               0.033378
Before 1905                                                0.033378
Before 1903                                                0.033378
Before 2011                                                0.033378
06-26-1890                                                 0.016689
13 or 30-May-1967                                          0.016689
1899 During the Seige of Ladysmith                         0.016689
5 A.D.                                                     0.016689
Early Jul-1980                                             0.016689
214 B.C.                                                   0.016689
Before 1901                                                0.016689
Early 1900s                                                0.016689
19-Jul-2007.b                                              0.016689
Before 1916                                                0.016689
Before 1927                                                0.016689
Early Feb-1974                                             0.016689
Letter dated 10-Jan-1580                                   0.016689
Before 1969                                                0.016689
1920 -1923                                                 0.016689
1836.07.26.R                                               0.016689
Jul- to Sep-1959                                           0.016689
1923-1924                                                  0.016689
1898 (soon after the close of the Spanish-American War)    0.016689
77  A.D.                                                   0.016689
1844.07.16.R                                               0.016689
19-Jul-2004 Reported to have happened  "on the weekend"    0.016689
v- or Dec-1873                                             0.016689
19955                                                      0.016689
Late Jul-1980                                              0.016689
3-Jul-1879                                                 0.016689
Between   1951-1963                                        0.016689
Late Jul-1959                                              0.016689
1845-1853                                                  0.016689
Before 2006                                                0.016689
Mid Jul-1985 or mid Jul-1986                               0.016689
1990 or 1991                                               0.016689
Before 3-Jan-1967                                          0.016689
Late Apr-1971                                              0.016689
Before  19-Jun-1959                                        0.016689
Name: date, dtype: float64
Before 08-Jun-1912                         0.016689
22-Jul-144                                 0.016689
22- Jan-1831                               0.016689
Early Jul-1995                             0.016689
Before 1975                                0.016689
1949-1950                                  0.016689
Before Mar-1995                            0.016689
1880-1899                                  0.016689
Before 1909                                0.016689
Late 1960s                                 0.016689
12-30-1980                                 0.016689
26-Sep-t937                                0.016689
1950.07.19                                 0.016689
Early 1965                                 0.016689
1836.00.                                   0.016689
Early Aug-2006                             0.016689
11-Aug--2011                               0.016689
1868 (?)                                   0.016689
Before 1930                                0.016689
24-Nov-2005-                               0.016689
1920s                                      0.016689
Between 1918 & 1939                        0.016689
Between 01-Aug-1951 & 08-Aug-1951          0.016689
Before 1936                                0.016689
Mar-1949 or Apr-1949                       0.016689
A few years before 1938                    0.016689
Before 2003                                0.016689
Apr-1978`                                  0.016689
02-Feb-1959 Reported                       0.016689
02-Mar-1943 to 07-Mar-1943                 0.016689
Before          19-Jul-1913                0.016689
Late Aug-1982                              0.016689
493 B.C.                                   0.016689
Before          17-Jul-1916                0.016689
Beforer 1994                               0.016689
19-Jul-2007.a                              0.016689
Before 1987                                0.016689
Early Jun-2000                             0.016689
"During the war" 1943-1945                 0.016689
Early 1963                                 0.016689
October 1887                               0.016689
09-May 1927                                0.016689
After August 1926 and before 1936          0.016689
Woirld War II                              0.016689
1960-1961                                  0.016689
14-Nov-1909 to 19-Nov-1909                 0.016689
Before 1900                                0.016689
Before Feb-1998                            0.016689
v-1826                                     0.016689
Before 1908                                0.016689
2009?                                      0.016689
24-Oct-1888, but took place around 1868    0.016689
n 1847                                     0.016689
June 1721                                  0.016689
Late 1970s                                 0.016689
Between 10 and 12-Sep-1959                 0.016689
2-Aug-1895                                 0.016689
Before Mar-1956                            0.016689
1883-1889                                  0.016689
1950 - 1951                                0.016689
Name: date, dtype: float64
Before 1917                              0.016689
Late 1600s Reported 1728                 0.016689
Summer-2008                              0.016689
Mid Oct-1901                             0.016689
11-Sep-1942 to 16-Sep-1942               0.016689
Late Jul-1928                            0.016689
21764                                    0.016689
12-Jan 2011                              0.016689
Before May-1996                          0.016689
"Anniversary Day" 22-Jan-1850 or 1852    0.016689
2003?                                    0.016689
1900-1905                                0.016689
09-Jul-2006.                             0.016689
1941-1942                                0.016689
Before  24 Apr-1959                      0.016689
500 A.D.                                 0.016689
May 1812                                 0.016689
Last incident of 1994 in Hong Kong       0.016689
Late Aug-1905                            0.016689
late 1960s                               0.016689
1898-1899                                0.016689
Some time between Apr & Nov-1944         0.016689
Early summer 1960                        0.016689
1940-1946                                0.016689
Early 1870s                              0.016689
Before 1878                              0.016689
16-Aug--2011                             0.016689
2-Jul-1997                               0.016689
1896-1913                                0.016689
03-Sept-1816                             0.016689
Name: date, dtype: float64
02-April 1906                                               0.016689
(3 days after preceding incident) & prior to 19-Jul-1913    0.016689
Before 2004                                                 0.016689
Before 2016                                                 0.016689
Before 1876                                                 0.016689
10-April 1906                                               0.016689
1820s                                                       0.016689
Before  1975                                                0.016689
1839/1840                                                   0.016689
Late Jul-1900                                               0.016689
Before 1952                                                 0.016689
1952-1954                                                   0.016689
Between 18 & 22-Dec 1944                                    0.016689
26-Jul-1975.b                                               0.016689
have taken place in 1919                                    0.016689
Late Jul-2008                                               0.016689
14-Sep-1883 (probably happened Ca. 1843/1844)               0.016689
08-Ap-1936                                                  0.016689
13-Mar-1948 "Bitten last weekend                            0.016689
Said to be 1941-1945, more likely 1945                      0.016689
Between May & Nov-1993                                      0.016689
190Feb-2010                                                 0.016689
Mid Aug-1966                                                0.016689
Before Aug-1987                                             0.016689
Late May 1993                                               0.016689
1853 or 1854                                                0.016689
Before Aug-1989                                             0.016689
23-Decp1896                                                 0.016689
1880?                                                       0.016689
Before 1960                                                 0.016689
Name: date, dtype: float64
Some time between 08-Jan-1928 & 21-Jan-1928    0.016689
09-Jan- 1874                                   0.016689
mid-1870s                                      0.016689
Before 1961                                    0.016689
Early Nov-1966                                 0.016689
725 B.C.                                       0.016689
1958-1959                                      0.016689
Late Aug-1962                                  0.016689
Early Sep-2000                                 0.016689
Late Jul-2003                                  0.016689
Before 8-May-1965                              0.016689
Before 1996                                    0.016689
02-Ap-2001                                     0.016689
336.B.C..                                      0.016689
28-Sept-1853                                   0.016689
Early 1930s                                    0.016689
9-Aug-1890                                     0.016689
Sep or Oct-1853                                0.016689
Before Oct-2009                                0.016689
Before 2009                                    0.016689
"Before the war"                               0.016689
Name: date, dtype: float64