## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [11]:
# Your code here
import random
sample_list_1=[random.randint(1,100) for i in range(80)]
print(sample_list_1)
print('len:',len(sample_list_1))
#another way
sample_list=random.sample(range(100), k=80)
print(sample_list)
print('len:',len(sample_list))

[85, 9, 11, 34, 45, 81, 30, 82, 67, 72, 1, 33, 95, 41, 82, 10, 95, 85, 80, 38, 25, 49, 25, 98, 8, 27, 93, 3, 43, 88, 50, 38, 36, 82, 32, 32, 50, 100, 69, 60, 19, 89, 19, 71, 66, 40, 18, 95, 55, 99, 53, 94, 37, 50, 75, 54, 52, 82, 63, 82, 68, 70, 59, 65, 75, 58, 17, 60, 93, 68, 67, 66, 95, 70, 82, 10, 6, 60, 4, 92]
len: 80
[79, 52, 16, 42, 94, 31, 3, 85, 24, 50, 38, 28, 76, 83, 22, 87, 96, 86, 33, 63, 12, 18, 71, 68, 14, 26, 23, 48, 43, 88, 70, 61, 20, 73, 29, 91, 4, 17, 32, 69, 64, 62, 30, 49, 54, 60, 84, 27, 0, 98, 2, 92, 21, 34, 37, 82, 36, 65, 72, 6, 99, 67, 45, 75, 53, 89, 74, 19, 7, 77, 93, 8, 5, 11, 51, 78, 41, 90, 13, 66]
len: 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set1=set(sample_list_1)
len(set1)

54

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [12]:
# Your code here
sample_list_2=[random.randint(1,100) for i in range(80)]
print(sample_list_2)
print('len:',len(sample_list_2))

[38, 95, 4, 22, 26, 73, 87, 37, 45, 48, 63, 86, 37, 75, 13, 67, 3, 94, 74, 75, 96, 7, 25, 34, 3, 82, 33, 26, 82, 96, 32, 9, 56, 1, 92, 92, 28, 57, 39, 94, 23, 51, 43, 17, 36, 83, 15, 82, 38, 27, 53, 42, 90, 70, 5, 39, 37, 24, 21, 38, 46, 54, 3, 54, 21, 42, 89, 69, 79, 71, 86, 87, 40, 83, 9, 12, 70, 39, 12, 79]
len: 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [13]:
# Your code here
set2=set(sample_list_2)
len(set2)

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [23]:
# Your code here
set3=set()
print(type(set3))
for i in set1:
    if i not in set2:
        set3.add(i)
set3

<class 'set'>

{10,
 19,
 29,
 44,
 47,
 49,
 50,
 52,
 55,
 59,
 62,
 65,
 66,
 68,
 76,
 77,
 78,
 80,
 81,
 84,
 85,
 88,
 91,
 98,
 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [24]:
# Your code here
set4=set()
print(type(set4))
for i in set2:
    if i not in set1:
        set4.add(i)
set4

<class 'set'>

{4,
 12,
 13,
 15,
 23,
 24,
 28,
 32,
 34,
 36,
 37,
 38,
 39,
 45,
 46,
 48,
 53,
 54,
 56,
 69,
 74,
 86,
 89,
 94,
 95,
 96}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [25]:
# Your code here
set5=set1.intersection(set2)
set5

{1,
 3,
 5,
 7,
 9,
 17,
 21,
 22,
 25,
 26,
 27,
 33,
 40,
 42,
 43,
 51,
 57,
 63,
 67,
 70,
 71,
 73,
 75,
 79,
 82,
 83,
 87,
 90,
 92}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [75]:
# Your code here
print('set1:',len(set1),'set2:',len(set2),'set3:',len(set3),'set4:',len(set4),'set5:',len(set5))
if len(set1)==len(set2):
    print(" Set 1 ans Set 2 are equal length")
else: 
    print(" Set 1 ans Set 2 are NOT equal length")
if len(set1)==len(set3)+len(set2):
    print('yay')
# len(set3)
# len(set4)
# len(set5)
len(set1),len(set2)

set1: 42 set2: 55 set3: 54 set4: 26 set5: 29
 Set 1 ans Set 2 are NOT equal length

(42, 55)

#### Create an empty set called `set6`.

In [37]:
# Your code here
set6=set()

{1, 2, 3, 5, 6, 7}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [39]:
# Your code here
set6=set3
set6.update(set5)
len(set6)

54

#### Check if `set1` and `set6` are equal.

In [40]:
# Your code here
if set1==set6:
    print('Yes')

Yes

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [48]:
# Your code here
z = set2.issubset(set1) 
y=set3.issubset(set1)

z,y

(False, True)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [50]:
# Your code here
set9=set3.union(set4,set5)
set10=set1.union(set2)
if set9==set10:
    print('yes')

yes

#### Using the `pop` method, remove the first element from `set1`.

In [56]:
# Your code here
s=set((1,2,3,4))
s.pop()
s

{2, 3, 4}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [63]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    
    if i in set1:
        
        set1.discard(i)
set1

{3,
 5,
 7,
 10,
 17,
 22,
 25,
 26,
 27,
 33,
 40,
 42,
 43,
 44,
 47,
 50,
 52,
 55,
 57,
 62,
 63,
 65,
 66,
 67,
 68,
 70,
 73,
 75,
 76,
 77,
 78,
 80,
 82,
 83,
 84,
 85,
 87,
 88,
 90,
 92,
 98,
 100}