## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [27]:
# Your code here
sL1 = random.sample(range(0,100),80)
print(sL1)

[1, 40, 55, 92, 60, 46, 57, 94, 28, 19, 97, 50, 74, 58, 17, 75, 39, 4, 78, 65, 14, 44, 71, 36, 82, 6, 45, 20, 27, 67, 22, 53, 99, 38, 51, 81, 47, 2, 16, 83, 76, 9, 68, 26, 23, 85, 12, 5, 64, 49, 62, 43, 77, 13, 0, 96, 15, 89, 80, 35, 95, 52, 87, 69, 56, 98, 7, 33, 66, 31, 91, 72, 11, 24, 37, 30, 8, 41, 10, 3]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [175]:
# Your code here
set1 = set(sL1)
print(set(sL1))
len(set(sL1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 24, 26, 27, 28, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 80, 81, 82, 83, 85, 87, 89, 91, 92, 94, 95, 96, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [185]:
# Your code here
sL2 = [random.randint(0,100) for i in range(80)]
print(sL2)

[96, 26, 9, 12, 79, 42, 64, 59, 20, 32, 15, 59, 23, 21, 77, 100, 64, 13, 2, 3, 84, 42, 27, 90, 0, 19, 59, 27, 42, 44, 71, 47, 4, 57, 17, 47, 42, 83, 95, 100, 94, 66, 19, 54, 64, 4, 31, 21, 8, 69, 30, 15, 8, 27, 52, 3, 10, 10, 31, 27, 39, 50, 77, 72, 84, 5, 26, 23, 89, 46, 90, 12, 21, 75, 23, 54, 60, 11, 27, 43]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [40]:
# Your code here
set2 = set(sL2)
print(set(sL2))
len(set(sL2))

{1, 2, 4, 6, 7, 11, 12, 13, 14, 18, 19, 24, 25, 28, 29, 34, 35, 37, 38, 40, 42, 43, 44, 47, 49, 50, 52, 53, 54, 55, 58, 59, 60, 61, 62, 63, 66, 70, 71, 74, 75, 81, 84, 85, 86, 91, 95, 96, 97, 99, 100}

51

In [ ]:
#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [48]:
# Your code here
set3 = set1 - set2
print(set3)
len(set3)

{0, 3, 5, 8, 9, 10, 15, 16, 17, 20, 22, 23, 26, 27, 30, 31, 33, 36, 39, 41, 45, 46, 51, 56, 57, 64, 65, 67, 68, 69, 72, 76, 77, 78, 80, 82, 83, 87, 89, 92, 94, 98}

42

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [49]:
# Your code here
set4 = set2 - set1
print(set4)
len(set4)

{34, 100, 70, 42, 18, 61, 84, 54, 86, 25, 59, 29, 63}

13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [52]:
# Your code here
set5 = set2.intersection(set1)
print(set5)
len(set5)

{1, 2, 4, 6, 7, 11, 12, 13, 14, 19, 24, 28, 35, 37, 38, 40, 43, 44, 47, 49, 50, 52, 53, 55, 58, 60, 62, 66, 71, 74, 75, 81, 85, 91, 95, 96, 97, 99}

38

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [67]:
# Your code here

len1 = len(set1)
len2 = len(set2)
len3 = len(set3)
len4 = len(set4)
len5 = len(set5)

lenlist = [len1, len2, len3, len4, len5]
lenlist

# set1 is a random sampling of 80 values
sL1 = random.sample(range(0,100),80)
# set2 is the result of a list with duplicate values == 51
sL2 = [random.randint(0,100) for i in range(80)]
set2 = set(sL2)
# set3 excludes values in set2 == 42
set3 = set1 - set2
# set4 excludes values in set1 == 13
set4 = set2 - set1
# set5 is the intersection of set1 & set2 ==38
set5 = set2.intersection(set1)

[80, 51, 42, 13, 38]

#### Create an empty set called `set6`.

In [101]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [104]:
# Your code here
set6.update(set3 and set5)
print(set6)
len(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 24, 26, 27, 28, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 80, 81, 82, 83, 85, 87, 89, 91, 92, 94, 95, 96, 97, 98, 99}

80

#### Check if `set1` and `set6` are equal.

In [105]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [119]:
# Your code here

if set1.issubset(set2) == False:
    print ("It's not")
if set1.issubset(set3) == False:
    print ("It's also not")

It's not
It's also not

In [ ]:
#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [124]:
# Your code here
union1 = set3.union(set4, set5)
union2 = set1.union(set2)

union1 == union2

True

#### Using the `pop` method, remove the first element from `set1`.

In [181]:
# Your code here

x = []
for i in set1:
    x.append(i)

In [182]:
x.pop(0)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [184]:
# Your code here
remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in remove:
    if i in set1:
        set1.remove(i)
print(set1)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 26, 27, 28, 30, 33, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 72, 74, 75, 76, 77, 78, 80, 82, 83, 85, 87, 92, 94, 95, 96, 97, 98}