# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [19]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [20]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [21]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [26]:
# Your code here:
null_cols = salaries.isnull().sum()
null_cols[null_cols>0]

Typical Hours    25161
Annual Salary     8022
Hourly Rate      25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [23]:
# Your code here:
print('Total:',len(salaries))
Hourlies = salaries[salaries['Salary or Hourly']=='Hourly']
Salaries = salaries[salaries['Salary or Hourly']=='Salary']
print('Hourlies:',len(Hourlies))
print('Salaries:',len(Salaries))

Total: 33183
Hourlies: 8022
Salaries: 25161

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [25]:
# Your code here:
print(salaries['Department'].value_counts())

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [27]:
# Your code here:
from scipy.stats import ttest_1samp
data = salaries['Hourly Rate'].dropna(how='all')
#how='all' makes sure the nulls are simply not included
ttest_1samp(data,30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [37]:
# Your code here:
x = salaries[salaries['Department']=='POLICE']['Annual Salary'].dropna(how='all')
x.mean()
ttest_1samp(x,86000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

In [49]:
# Your code here:
pd.crosstab(salaries.Department,salaries['Salary or Hourly']=='Hourly')

Salary or Hourly       False  True
Department
ADMIN HEARNG              39      0
ANIMAL CONTRL             62     19
AVIATION                 547   1082
BOARD OF ELECTION        107      0
BOARD OF ETHICS            8      0
BUDGET & MGMT             44      2
BUILDINGS                269      0
BUSINESS AFFAIRS         164      7
CITY CLERK                84      0
CITY COUNCIL             347     64
COMMUNITY DEVELOPMENT    203      4
COPA                     116      0
CULTURAL AFFAIRS          58      7
DISABILITIES              28      0
DoIT                      99      0
FAMILY & SUPPORT         328    287
FINANCE                  516     44
FIRE                    4639      2
GENERAL SERVICES         215    765
HEALTH                   485      3
HUMAN RELATIONS           16      0
HUMAN RESOURCES           75      4
INSPECTOR GEN             87      0
LAW                      367     40
LICENSE APPL COMM          1      0
MAYOR'S OFFICE            77      8
OEMC                     829   1273
POLICE                 13404     10
POLICE BOARD               2      0
PROCUREMENT               90      2
PUBLIC LIBRARY           716    299
STREETS & SAN            336   1862
TRANSPORTN               415    725
TREASURER                 22      0
WATER MGMNT              366   1513

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [47]:
# Your code here:
y = salaries[salaries['Department']=='STREETS & SAN']['Hourly Rate'].dropna(how='all')
print(y.mean())
ttest_1samp(y,35)

33.72837808807734

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [78]:
# Your code here:
import numpy as np, scipy.stats as st
a = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate']
a
st.t.interval(0.95, len(a)-1, loc=np.mean(a), scale=st.sem(a))

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [88]:
# Your code here:
b = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna(how='all')
st.t.interval(0.95, len(b)-1, loc=np.mean(b), scale=st.sem(b))

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [116]:
# Your code here:
# from statsmodels.stats.proportion import proportions_ztest
# proportions_ztest(0.25,len())
print(salaries['Salary or Hourly'].where(salaries['Salary or Hourly']=='Hourly').count()/len(salaries))
count = salaries['Salary or Hourly'].where(salaries['Salary or Hourly']=='Hourly').count()
nobs = len(salaries)
value = .25
print(proportions_ztest(count, nobs, value))
stat, pval = proportions_ztest(count,nobs,value)
print('{0:0.3f}'.format(pval))

0.24175029382515142
(-3.5099964213703005, 0.0004481127249057967)
0.000

In [ ]:
#It is significantly different